:root {
  --bg-color: #f0f8f7;
  --second-bg-color: #e4f1e1;
  --text-color: #383838;
  --main-color: #27ae60;
}
.skills {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}
.skills .heading {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  text-align: center;
}
.skills span {
  color: var(--main-color);
}
.skills-content {
  display: flex;
  gap: 25px;
}
.skills-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.skills-row .title {
  font-size: 2rem;
  margin-bottom: 15px;
}
.skills-box {
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skills-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}
.skills-box:hover::before {
  width: 100%;
  transition: 0.5s;
}
.skills-row .skills-content {
  display: flex;
  flex-direction: column;
}
.progress h3 {
  display: flex;
  justify-content: space-between;
}
.progress .bar {
  height: 30px;
  border: 3px solid var(--main-color);
  background: var(--bg-color);
  border-radius: 8px;
  padding: 3px;
  margin: 10px 0;
}
.skills-box:hover .progress .bar {
  background-color: var(--second-bg-color);
  transition: 0.5s;
}

.progress .bar span {
  display: block;
  width: var(--i);
  height: 100%;
  border-radius: 4px;
  background-color: var(--main-color);
}
@media (max-width: 768px) {
  .skills-content {
    flex-direction: column;
  }
}
